body {
  margin: 0;
  font-family: 'Playfair Display', serif;
  background: #fff5f7;
  color: #5a2a2a;
  text-align: center;
}

/* HERO */
.hero {
  height: 100vh;
  background: linear-gradient(rgba(255, 240, 245, 0.7), rgba(255, 240, 245, 0.7)),
              url("imagens/fundo.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  background: rgba(255, 255, 255, 0.6);
  padding: 40px 60px;
  border-radius: 20px;
  backdrop-filter: blur(10px);
}

/* TEXTOS */
.nome {
  font-family: 'Lucida Handwriting', cursive;
  font-size: 90px;
  text-shadow: 0 2px 10px rgba(0,0,0,0.1);
  color: #FFD700;
  margin: 0;
}


.subtitulo {
  font-size: 40px;
  margin: 10px 0;
}

.tema {
  font-size: 24px;
  letter-spacing: 2px;
}

/* SEÇÕES */
section {
  padding: 60px 20px;
}

h2 {
  color: #c27c8a;
  font-size: 32px;
}

body {
  animation: fadeIn 1.5s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.sobre, .evento {
  background: white;
  margin: 40px auto;
  width: 80%;
  border-radius: 20px;
  padding: 50px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.05);
}

.contador {
  background: #fff;
  margin: 40px auto;
  width: 80%;
  border-radius: 20px;
  padding: 50px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.05);
}

#countdown {
  font-size: 32px;
  color: #d4af37;
  margin-top: 20px;
  font-weight: bold;
  letter-spacing: 2px;
}

/* CONTAINER */
.petalas-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  z-index: 9999; 
  border-radius: 50% 60% 60% 50%;
}

/* PÉTALA */
.petala {
  position: absolute;
  top: -50px;
  width: 20px;
  height: 20px;
  background: radial-gradient(circle, #ffb6c1, #ff69b4);
  border-radius: 50% 70% 70% 50%;
  animation: cair linear;
}

/* ANIMAÇÃO */
@keyframes cair {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(100vh) rotate(360deg);
  }
}